---
import { getCollection } from 'astro:content'
import RestrictedUpdates from '@/components/ui/RestrictedUpdates.astro'
import { RevealHeading } from '@/components/ui/RevealHeading'
import UpdateCard from '@/components/ui/UpdateCard.astro'
import SiteLayout from '@/layouts/SiteLayout.astro'

const posts = await getCollection('updates').then((posts) =>
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
)
---

<SiteLayout
  title="Updates"
  description="Latest updates, thoughts and random stuffs mixed in one place"
>
  <div class="flex flex-col gap-12 py-20">
    <RevealHeading
      client:visible
      className="text-6xl lg:text-10xl text-stone-700"
      >Latest Updates</RevealHeading
    >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      {
        posts.map((post) => (
          <UpdateCard
            title={post.data.title}
            description={post.data.description}
            tag={post.data.tag}
            date={post.data.date}
            slug={post.id}
          />
        ))
      }
      <RestrictedUpdates server:defer />
    </div>
  </div>
</SiteLayout>
