---
import type { ActionInputError } from 'astro:actions'
import { isInputError } from 'astro:actions'
import { actions } from 'astro:actions'
import SiteLayout from '@/layouts/SiteLayout.astro'
import { sql } from '@/libs/db'

const token = Astro.cookies.get('auth_token')?.value || ''

const session = await sql`
  SELECT id FROM sessions WHERE token = ${token} AND expired_at > NOW()
`

if (session.length > 0) {
  return Astro.redirect('/')
}

const result = Astro.getActionResult(actions.login)

let fieldErrors:
  | ActionInputError<{
      email: string
      password: string
      remember?: boolean | undefined
    }>
  | undefined = undefined

if (isInputError(result?.error)) {
  fieldErrors = result.error
}

if (result && !result.error) {
  return Astro.redirect('/')
}
---

<SiteLayout title="Login" description="Login to your account">
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
      <form action={actions.login} method="POST" class="space-y-4">
        {
          result && result.error && !isInputError(result.error) && (
            <div class="bg-red-100 text-red-700 p-4 rounded-md mb-4">
              <p>{result.error}</p>
            </div>
          )
        }
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            required
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
          />
          {
            fieldErrors?.fields.email && (
              <p class="text-red-600 text-sm mt-1">
                {fieldErrors.fields.email}
              </p>
            )
          }
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            required
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
          />
          {
            fieldErrors?.fields.password && (
              <p class="text-red-600 text-sm mt-1">
                {fieldErrors.fields.password}
              </p>
            )
          }
        </div>
        <button
          type="submit"
          class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200"
          >Login</button
        >
      </form>
      <p class="mt-4 text-sm text-center text-gray-600">
        Don't have an account? <a
          href="/register"
          class="text-blue-600 hover:underline">Register here</a
        >
      </p>
    </div>
  </div>
</SiteLayout>
